body {   /* BODY FONT STYLE AND MARGINS,ETC */
    font-family: monaco,Consolas,Lucida Console,monospace; 

    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000000;
    color: white;
    padding: 1rem;
  }
  
  nav a {     /* NAVIGATOR STUFF */
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }

 
  .description-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0.5rem;
  }
  

  .work-section {
    background-color: black;
    color: rgb(80, 204, 31);
    padding: 3rem 2rem; /* You can even reduce this if needed */
    text-align: left;
  }
  
  .work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }
  
  .work-card {
    text-decoration: none;
    color: inherit;
    border: 1px solid #444;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .work-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .work-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .work-info {
    background-color: #222;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .work-info h3 {
    margin-bottom: 0.7rem;
  }
  
  .work-info p {
    font-size: 0.9rem;
    color: #aaa;
  }
  

  .typewriter {     /* letter EFFECT*/
    overflow: hidden;              /* Hides the text until it's revealed */
    border-right: 0.15em solid white;  /* Creates a blinking cursor effect */
    white-space: nowrap;           /* Keeps it on one line */
    margin: 0 auto;                /* Centers the text if needed */
    letter-spacing: 0.05em;        /* Slight space between letters */
    animation: typing 3s steps(30, end) forwards, blink-caret 0.75s step-end 4, hide-caret 0s 3.1s forwards;

  }
  
  @keyframes typing {   /* KEYFRAMES N TOOLS FOR ADJUSTABLE SCREEN */
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
  
  @keyframes hide-caret {
    to { border-color: transparent; }
  }  

  @media (max-width: 900px) {
    .projects-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  
  
  footer {   /* footer*/
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem;
  }
  

  .container {
    max-width: 100%;
    width: 100%;
  }
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
    